// FIXES
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  text-renborder-boxdering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}