// TITLES
h1 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.8rem;
	font-weight: 600;
	
	@media all and (min-width: $tablet) {
	font-size: 2rem;
	}
	@media all and (min-width: $desktop) {
	font-size: 2.625rem;
	letter-spacing: 0.046875rem;
	}
}
h2 {
	font-size: 1.6rem;
	font-weight: 300;
	@media all and (min-width: $tablet) {
	font-size: 1.8rem;

	}
	@media all and (min-width: $desktop) {
	font-size: 2.125rem;
	}
}
.portada h1, .portada h2 {
	margin: 0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

h3 {
	text-transform: uppercase;
	font-weight: 600;
	line-height: 2.375rem;
	font-size: 1.875rem;
}
h4 {
	font-weight: 600;
	line-height: 2.375rem;
	font-size: 1.875rem;
}
.tipo-evento {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.134375rem;
	font-size: 0.875rem;
}
.titulo-evento,
.titulo-post {
	text-transform: uppercase;
	letter-spacing: 0.02125rem;
	font-size: 1.0625rem;
	font-weight: 700;
	line-height: 1.1875rem;
	padding-bottom: 1.75rem;
	color: $color-two;
}