// TITLES
.h1 {
	text-transform: uppercase;
	letter-spacing: 0.046875rem;
	font-size: 2.625rem;
	font-weight: 600;
}
.h2 {
	text-transform: uppercase;
	font-size: 2.125rem;
	font-weight: 300;
}
.h3 {
	font-weight: 600;
	line-height: 2.375rem;
	font-size: 1.875rem;
}
.h4 {
	font-weight: 600;
	line-height: 1.875rem;
	font-size: 1.25rem;
}
.h5 {
	text-transform: uppercase;
	letter-spacing: 0.02125rem;
	font-size: 1.0625rem;
	font-weight: 700;
	line-height: 1.1875rem;
	padding-bottom: 1.75rem;
}
.h6 {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.134375rem;
	font-size: 0.875rem;
}
.titulo-blm {
	text-transform: uppercase;
	letter-spacing: 0.134375rem;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.1875rem;
}
/*
h6 {
	font-weight: 300;
	text-transform: uppercase;
}

h1 {
	font-size: 1.8rem;
	letter-spacing: 1px;
	line-height: 1.2;
}
@media all and (min-width: 768px) {
	h1{
		font-size: 2rem;	
	}
}
@media all and (min-width: 1024px) {
	h1{
		font-size: 2.4rem;	
	}
}
// H2
h2 {
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 1.3;
}
@media all and (min-width: 768px) {
	h2{
		font-size: 1.6em;
	}
}
@media all and (min-width: 1024px) {
	h2{
		font-size: 1.8em;
	}
}
// H4, H5, H6
h4, h5, h6 {
	font-size: 1rem;
}
@media all and (min-width: 768px) {
	h4, h5, h6{
		font-size: 1.2em;
	}
}
@media all and (min-width: 1024px) {
	h4, h5, h6{
		font-size: 1.4em;
	}
}
*/