// TEXT ELEMENTS
p {
	font-size: 1rem;
	line-height: 1.75rem;
	margin: 0;
	padding: 0;
}
a {
	font-weight: 700;
	color: $color-three;
	text-decoration: none;
}
a:hover {
	color: $color-three;
}
.text-center {
	text-align: center;
}