body {
	font-family: 'Open Sans', sans-serif;
	color: #2B3E50;
	font-weight: 400;
	font-size: 17px;
	line-height: 17px;
	margin: 0;
	padding: 0;
}
/* TITLES */
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	line-height: 28px;
}
h3, h6 {
	font-weight: 300;
}
h1 {
	font-size: 2.4rem;
	letter-spacing: 1px;
	line-height: 1.2;
}
h2 {
    font-size: 1.8em;
    letter-spacing: 1px;
    line-height: 1.3;
}
h3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}
h4 {
	font-size: 20px;
	letter-spacing: 6px;
}
h5 {
	font-size: 17px;
	letter-spacing: 5.1px;
}
h6 {
	font-size: 15px;
	letter-spacing: 4.5px;
}
/* TEXT ELEMENTS */
p {
	font-size: 17px;
	line-height: 28px;
}
a {
	font-weight: 700;
	color: #F85C45;
	text-decoration: none;
}
a:hover {
	color: #F28D7E;
}
/* HEADER */
header {
	display: flex;
	height: 84px;
	justify-content: space-between;
}
.logo-obsocial {
	height: 56px;
	margin: auto 10px;
}
nav {
	display: inline-block;
	float: right;
	margin: auto 10px;
}
.menu-item {
	color: #fff;
	font-weight: 400;
	font-size: 0.9rem;
	margin-left: 1.5rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.menu-item:hover {
	color: #fff;
	text-decoration: underline;
}
/* PORTADAS */
.portada {
	color: #fff;
	text-align: center;
	padding-top: 56px;
	padding-bottom: 56px;
}
.portada-index {
	background: url(../img/index-img.png);
}
.portada-contacto {
	background: url(../img/contacto-img.png);
}
.portada-eventos {
	background: url(../img/eventos-img.png);
}
.portada-nosotros {
	background: url(../img/nosotros-img.png);
}
.divider-line {
	width: 80px;
	height: 4px;
	background-color: #00BD9C;
	margin: 42px auto;
}
/* BOTONES */
.btn {
	color: #fff;
	text-transform: uppercase;
	background-color: #F85C45;
	padding: 20px;
	line-height: 1.4;
}
.btn:hover {
	background-color: #F28D7E;
	color: #fff;
}
/*COLORES */
.color-one {
	background-color: #2EB197;
}
.color-two {
	background-color: #F5F6F7;
	color: #00BD9C;
	text-align: center;
	padding: 28px 0;
}
.color-three {
	background-color: #E1E1E1;
}
/* INFOGRAFIA */
.infografia {
	color: #2B3E50;
	background-color: #E1E1E1;
}
.infografia .info-row:nth-child(6n+2) {
	color: #fff;
	background-color: #2B3E50;
}
.infografia .info-row:nth-child(6n+4) {
	color: #fff;
	background-color: #F85C45;
}
.infografia .info-row:nth-child(6n+6) {
	color: #fff;
	background-color: #2EB197;
}
.info-row {
	display: flex;
	flex-direction: row;
}
.columna {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.col-uno {
	order:-1;
}
.info-img {
	margin: auto;
}
/* CONTACTO FORMULARIO */
form {
	display: flex;
	flex-direction: column;
}
form:first-child {
	padding-top: 56px;
}
label {
	text-transform: uppercase;
	line-height: 28px;
	color: #A3A3A3;
	margin-top: 28px;
}
input {
	height: 56px;
}
textarea {
	height: 196px;
}
input, textarea {
	background-color: #fff;
	border: none;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #3E3E3E;
	line-height: 28px;
	padding: 0 5px;
}
input:placeholder-shown, textarea:placeholder-shown {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #3E3E3E;
	line-height: 28px;
	padding: 0 5px; 
}
textarea:placeholder-shown {
	line-height: 56px;
}
.bottom-space {
	padding-bottom: 28px;
}
/* EVENTOS */
.galeria-eventos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.ficha {
	display: flex;
	flex-direction: column;
	background-color: #F5F6F7;
	margin: 10px;
	width: 372px;
}
.ficha h5, .ficha p {
	padding: 0 10px;
}
.ficha h5 {
	margin-bottom: auto;
}
.hora:before {
	content: "___";
	color: transparent;
	background: url(img/ico-hora.png);
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
	height: 16px;
	margin-right: 10px;
}
.lugar:before {
	content: "___";
	color: transparent;
	background: url(img/ico-lugar.png);
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: center;
	height: 14px;
	margin-right: 10px;
}
.port-evento{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 196px;
}
.ficha a {
	line-height: 28px;
	margin-top: auto;
	align-self: flex-end;
}
.ev-uno {
	background: url(../img/ev-uno.png);
}
.ev-dos {
	background: url(../img/ev-dos.png);
}
.ev-tres {
	background: url(../img/ev-tres.png);
}
/* TALLERES */
.foto-taller {
	width: 100%;
	height: 308px;
	margin: 28px 0 0;
	padding: 0;
}
.taller-uno {
	background: url(../img/taller-uno.png);
}
/* NOSOTROS */
.equipo {
	padding-top: 56px;
	padding-bottom: 28px;
}
.eq-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 28px;
}
.avatar {
	background-color: #F0F0F0;
	height: 112px;
	width: 112px;
	border-radius: 50%;
	margin-top: auto;
	margin-bottom: auto;
}
.descripcion {
	display: flex;
	flex-direction: column;
	width: 70%;
}
.under-line {
	width: 53px;
	height: 4px;
	background-color: #00BD9C;
}
/* FOOTER */
footer {
	background-color: #2B3E50;
	height: 84px;
	display: flex;
	justify-content: space-between;
}
.footer {
	margin: auto 15px;
	text-transform: uppercase;
	color: #fff;
	display: flex;
	flex-direction: row;
}
.link-footer {
	margin: auto 10px;
}
.link-alt {
	color: #00BD9C;
}
.link-alt:hover {
	color: #68BBAD;
}
.img-footer {
	height: 28px;
}
/* MICRO CLEARFIX */
.cf:after {
	clear: both;
}
/* MEDIA QUERYS */
@media (min-width: 1024px) {
	header, section, footer {
		padding: 0 100px;
	}
	.info-row {
		margin: 0 -100px;
		padding: 28px 100px;
	}
	.content-space {
		padding: 28px 300px;
	}
	.galeria-eventos {
		padding: 28px 50px;
	}
}
