body {
	font-family: 'Open Sans', sans-serif;
	color: #2B3E50;
	font-weight: 400;
	font-size: 17px;
}
/* DISEÑO */
.top-style {
	margin-top: 0;
	padding: 60px 5% 0;	
}
.dark-bg-font {
	color: #fff;
}
.main-content {
	padding: 20px 0 30px;
}
article {
	padding: 10px 70px;
}
/* TITLES */
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
h3, h6 {
	font-weight: 300;
}
h1 {
	font-size: 48px;
	letter-spacing: 14.4px;
}
h2 {
	font-size: 34px;
	letter-spacing: 10.2px;
}
h3 {
	font-size: 24px;
	letter-spacing: 7.2px;
}
h4 {
	font-size: 20px;
	letter-spacing: 6px;
}
h5 {
	font-size: 17px;
	letter-spacing: 5.1px;
}
h6 {
	font-size: 15px;
	letter-spacing: 4.5px;
}
/* TEXT ELEMENTS */
p {
	font-size: 17px;
	line-height: 29px;
}
a {
	font-weight: 700;
	color: #F85C45;
	text-decoration: none;
}
a:hover {
	color: #F28D7E;
}
a:active {
	color: #CD4B37;
}
blockquote {
	font-size: 20px;
	font-weight: 300;
}
blockquote:before {
	content: open-quote;
}
blockquote:after {
	content: close-quote;
}
.date {
	font-weight: 700;
	font-size: 15px;
}
/* COLORS */
.color-row {
	display: block;
	margin-bottom: 80px;
	text-align: center;
}
.color-chip {
	height: 60px;
	width: 200px;
	display: inline-block;
}
.color-one-dark {
	background-color: #018D75;
}
.color-chip.color-one-dark:after {
	content: "#018D75";
}
.color-one {
	background-color: #00BD9C;
}
.color-chip.color-one:after {
	content: "#00BD9C";
}
.color-one-ligth {
	background-color: #68BBAD;
}
.color-chip.color-one-ligth:after {
	content: "#68BBAD";
}
.color-two-dark {
	background-color: #D0D2D4;
}
.color-chip.color-two-dark:after {
	content: "#D0D2D4";
}
.color-two {
	background-color: #F5F6F7;
}
.color-chip.color-two:after {
	content: "#F5F6F7";
}
.color-two-ligth {
	background-color: #FFFFFF;
}
.color-chip.color-two-ligth:after {
	content: "#FFFFFF";
}
.color-three-dark {
	background-color: #CD4B37;
}
.color-chip.color-three-dark:after {
	content: "#CD4B37";
}
.color-three {
	background-color: #F85C45;
}
.color-chip.color-three:after {
	content: "#F85C45";
}
.color-three-ligth {
	background-color: #F28D7E;
}
.color-chip.color-three-ligth:after {
	content: "#F28D7E";
}
.color-four-dark {
	background-color: #000000;
}
.color-chip.color-four-dark:after {
	content: "#000000";
}
.color-four {
	background-color: #2B3E50;
}
.color-chip.color-four:after {
	content: "#2B3E50";
}
.color-four-ligth {
	background-color: #466684;
}
.color-chip.color-four-ligth:after {
	content: "#466684";
}

.color-one-dark:after, .color-one:after, .color-one-ligth:after, .color-two-dark:after, .color-two:after, .color-two-ligth:after, .color-three-dark:after, .color-three:after, .color-three-ligth:after, .color-four-dark:after, .color-four:after, .color-four-ligth:after {
	position: relative;
	top: 65px;
	color: #2B3E50;
}
/* BOTONES */
.btn {
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.sg-btn {
	margin-right: 30px;
	margin-bottom: 30px;
}
.btn-lg {
	width: 300px;
	height: 75px;
	font-size: 20px;
	line-height: 75px;
}
.btn-md {
	width: 150px;
	height: 50px;
	line-height: 50px;
}
.btn-sm {
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.btn.color-three:hover {
	background-color: #F28D7E;
}
.btn.color-one:hover {
	background-color: #68BBAD;
}
.btn.color-three:active {
	background-color: #CD4B37;
}
.btn.color-one:active {
	background-color: #018D75;
}
.btn.color-three:hover, .btn.color-one:hover, .btn.color-three:active, .btn.color-one:active {
	color: #fff;
}
/* MICRO CLEARFIX */
.cf:after {
	clear: both;
}
