// BLOG
.container_blog:after {
	content:"";
	display: block;
	clear: both; 
}
.post {
	position: relative;
	width: 80%;
	margin: 0 auto 2.75rem;
	display: block;
	@media all and (min-width: 1024px){
		width: 100%;
	}

	&_thumbnail {
		position: relative;
		width: 80%;
		margin: 0 auto;
		display: block;
		@media all and (min-width: 1024px){
			width: 44%;
			float: left;
			margin: 0 2.5% 2.75rem;
			display: inline-block;
		}	
	}
	&_port {
		width: 100%;
	}

	&_info {
		padding:  0 1.75rem;
		position: relative;
	}

	&_comentarios {
		margin-top: 3rem;
	}
}
.post_fecha,
.post_like,
.post_tag {
	margin-right: 1.75rem;
	margin-bottom: 0;

	& img{
		height: 1.1rem;
		vertical-align: middle;
	}
}