// BOTONES
.btn {
	color: $color-w;
	background-color: $color-three;
	height: 3.5rem;
	padding: 1rem 4.375rem;
	display: inline-block;
	margin: 3.5rem auto;
	cursor: pointer;
	
	&:hover {
		background-color: $color-three-l;
		color: $color-w;
		text-decoration: none;
	}

	&-alt {
		background-color: $color-one;
		
		&:hover {
			background-color: $color-one-l;
			text-decoration: none;
			}
	}

	&-shadow {
		box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
	}
}