// BOTONES
.btn {

	text-transform: uppercase;
	letter-spacing: .8px;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.1875rem;
	white-space: nowrap;

	color: $color-w;
	background-color: $color-three;
	padding: 1rem 2rem;
	display: inline-block;
	cursor: pointer;
	margin: 3.5rem auto 0;

	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);

	&_blog {
		display: block;
		margin: 0 auto -1.75rem;
		text-align: center;
		max-width: 13rem;
	}

	&_evento {
		position: absolute;
		bottom: 0;
	}

	
	&:hover {
		background-color: $color-three-l;
		color: $color-w;
		text-decoration: none;
	}

	&--alt {
		background-color: $color-one;
		
		&:hover {
			background-color: $color-one-l;
			text-decoration: none;
			}
	}

}