.divider-line {
	width: 5rem;
	height: 4px;
	background-color: $color-one;
	margin: 2.625rem auto;
}
.divider-line--long {
	width: 7rem;
	height: 4px;
	background-color: $color-one;
	margin: 3rem auto;
	@media all and (min-width: $tablet) {
		margin: -3rem auto 3rem;
	}
}
.under-line {
	width: 3.3125rem;
	height: 4px;
	background-color: $color-one;

	&-center {
		margin: 3.5rem auto -1.75rem;
		@media all and (min-width: $desktop) {
			margin: 1.75rem auto -1.75rem;
		}
	}
	&-pro{
		margin: 3rem auto;
		@media all and (min-width: $tablet) {
			margin: 1rem 0;
		}
	}
}
