.don {
	&_info{
		margin-bottom: 3rem;
	}
	&_img{
		height: 95px;
		margin-bottom: 1.75rem;
		margin-top: 3rem;
	}
	&_step {
		width: 100%;
		max-width: 400px;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		@media all and (min-width: 768px){
			width: 400px;
			
			}
		@media all and (min-width: 1024px){
			width: 271px;	
			}

	}
}
.don_arrow{
	&:after {
		content: "";
		width: 0;
		height: 0;
		border-top: 25px solid $color-one;
		border-left: 50px solid transparent; 
		border-right: 50px solid transparent;
		@media all and (min-width: 1024px){
			content: none;
		}
	}
	&--d,
	&--i{
		display: none;
		@media all and (min-width: 1024px){	
		width: 250px;
		height: 4px;
		background-color: $color-one;
		display: inline-block;
		position: absolute;
		top: 40%;
		&:after{
			position: absolute;
			content: "";
			width: 0;
			height: 0;
			border-top: 15px solid $color-one;
			border-left: 20px solid transparent; 
			border-right: 20px solid transparent;
			}
		}
	}
	&--d{
		@media all and (min-width: 1024px){	
		left: 100%;
		&:after{
			left: 230px;
			}
		}
	}
	&--i{
		@media all and (min-width: 1024px){	
		right: 100%;
		&:after{
			right: 230px;
			}
		}
	}
}
.don_step{
	@media all and (min-width: 1024px){
		&_uno,
		&_tres,
		&_cinco{
			float: left;
			clear: left;
			}	
		&_dos,
		&_cuatro{
			float: right;
			clear: right;
			}
	}
	&_uno--bg,
	&_dos--bg,
	&_tres--bg,
	&_cuatro--bg,
	&_cinco--bg{
		background-repeat: no-repeat;
		background-position: left top;
		height: 200px;
	}
	
}

.don_step_uno {
	&--bg{
		background-image: url(../img/don-step-uno.svg);
		}
	@media all and (min-width: 1024px){
		margin: 0 0 3rem 20%;
		}
}
.don_step_dos {
	&--bg{
		background-image: url(../img/don-step-dos.svg);
		}
	@media all and (min-width: 1024px){
		margin: 13rem 20% 6rem 0;	
		}
}
.don_step_tres {
	&--bg{
		background-image: url(../img/don-step-tres.svg);
		}
	@media all and (min-width: 1024px){
		margin: 3rem 0 6rem 20%;			
		}
}
.don_step_cuatro {
	&--bg{
		background-image: url(../img/don-step-cuatro.svg);
		}
	@media all and (min-width: 1024px){
		margin: 3rem 20% 0 0;		
		}
}
.don_step_cinco {
	&--bg{
		background-image: url(../img/don-step-cinco.svg);	
		}
	@media all and (min-width: 1024px){
		margin-left: 20%;	
		}
}