.don {
	&-img{
		height: 95px;
	}
	&-step {
		width: 100%;
		@media all and (min-width: 768px){
			width: 271px;	
			}	
	}
}
.arrow:after {
		content: "";
		bottom: 0;
		width: 0; 
		height: 0;
		border-top: 30px solid $color-one;
		border-left: 10px solid transparent; 
		border-right: 10px solid transparent;
		@media all and (min-width: 768px){
			content: none;	
			}
	}