// EVENTOS
.evento {
	&_galeria {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&_ficha {
		margin: 10px 10px 2rem;
		width: 372px;
		box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
		position: relative;

		& a:not(.no-style) {
		    margin: 0 5.5rem -1.75rem;
			}
		
		&--info{
			padding: 0 1.625rem;
			margin-bottom: 3rem;
			padding-top: 1.5rem;
			}
	}
	&_portada {
		width: 100%;
		margin: 0;
		padding: 0;
		height: 12.25rem;
		overflow: hidden;
	}
}

// TALLERES
.taller {
	&_hora{
		margin-top: 1.75rem;
		margin-bottom: 1rem;
		&:before {
			content: "hora";
			color: transparent;
			background: url(../img/reloj.svg);
			background-size: 16px;
			background-repeat: no-repeat;
			background-position: left;
			height: 16px;
			}
	}
	&_lugar{
		margin-bottom: 1rem;
		&-link {
			color: $color-two;
			text-decoration: none;
			font-weight: 400;
			}
		&-link:hover {
			text-decoration: underline;
			color: $color-two;
			}
		&:before {
			content: "lugar";
			color: transparent;
			background: url(../img/lugar.svg);
			background-size: 14px;
			background-repeat: no-repeat;
			background-position: left;
			height: 14px;
			}
	}
	&_euro {
		margin-bottom: 1rem;
		&:before {
			content: "euro";
			color: transparent;
			background: url(../img/euro.svg);
			background-size: 14px;
			background-repeat: no-repeat;
			background-position: left;
			height: 14px;
			}
	}
	&_silla {
		margin-bottom: 1rem;
		&:before {
			content: "acces";
			color: transparent;
			background: url(../img/silla.svg);
			background-size: 14px;
			background-repeat: no-repeat;
			background-position: left;
			height: 14px;
			}
	}
	&_metro {
		margin-bottom: 1rem;
		&:before {
			content: "metro";
			color: transparent;
			background: url(../img/metro.svg);
			background-size: 14px;
			background-repeat: no-repeat;
			background-position: left;
			height: 14px;
			}
	}
	&_coche {
		margin-bottom: 1rem;
		&:before {
			content: "park";
			color: transparent;
			background: url(../img/coche.svg);
			background-size: 14px;
			background-repeat: no-repeat;
			background-position: left;
			height: 14px;
			}
	}


	&_foto {
		width: 100%;
		height: auto;
		margin: 1.75rem 0 0;
		padding: 0;
	}
	&_mapa {
		border-style: 0;
		height: 10rem;
		width: 250px;
		@media all and (min-width: $mobile){
			width: 280px;
			}
		@media all and (min-width: $bp_map){
			width: 400px;
			height: 20rem;
			}
		@media all and (min-width: $tablet){
			width: 600px;
			}
	}

	&_detail-box {
		height: 7.8rem;
		overflow: hidden;
		border-bottom: 2px solid $color-one;
		position: relative;
		transition: height .8s ease;
	}
	&_detail-box_btn {

		-webkit-box-shadow: .75rem 0px 0px 0px $color-four,
			-.75rem 0px 0px 0px $color-four,
			1px 1px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: .75rem 0px 0px 0px $color-four,
			-.75rem 0px 0px 0px $color-four,
			1px 1px 0px rgba(0, 0, 0, 0.1);
		box-shadow: .75rem 0px 0px 0px $color-four,
			-.75rem 0px 0px 0px $color-four,
			1px 1px 0px rgba(0, 0, 0, 0.1);

		margin: -1rem auto 1.75rem;
		display: block;
		padding: 0.5rem 2rem;
		width: 14rem;
		text-align: center;
		z-index: 1;
		position: relative;
	}
}

.open {
	height: 21rem;
    transition: height .8s ease;
    @media all and (min-width: $tablet){
		height: 20rem;
	}
}