// EVENTOS
.evento_galeria {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.evento_ficha {
	margin: 10px;
	width: 372px;
	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
	position: relative;
	.h5{
		padding-bottom: 0;
	}

	& a:not(.no-style) {
	    position: absolute;
	    right: 0;
	    bottom: 0;
		}
	
	&-info{
		padding: 0 1.625rem;
		margin-bottom: 5rem;
		padding-top: 1.5rem;
		}
}
.evento_portada {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 12.25rem;
}
// TALLERES
.taller_hora{
	margin-top: 1.75rem;
	&:before {
		content: "hora";
		color: transparent;
		background: url(../img/reloj.svg);
		background-size: 16px;
		background-repeat: no-repeat;
		background-position: left;
		height: 16px;
		}
}
.taller_lugar{
	margin-bottom: 1.75rem;
	&-link {
		color: $color-two;
		text-decoration: none;
		font-weight: 400;
		}
	&-link:hover {
		text-decoration: underline;
		color: $color-two;
		}
	&:before {
		content: "lugar";
		color: transparent;
		background: url(../img/lugar.svg);
		background-size: 14px;
		background-repeat: no-repeat;
		background-position: left;
		height: 14px;
		}
}
.taller_foto {
	width: 100%;
	height: auto;
	margin: 1.75rem 0 0;
	padding: 0;
}
.taller_mapa {
	border-style: 0;
	height: 10rem;
	width: 250px;
	@media all and (min-width: 320px){
		width: 280px;
		}
	@media all and (min-width: 550px){
		width: 400px;
		height: 20rem;
		}
	@media all and (min-width: 768px){
		width: 600px;
		}
}