// CONTACTO FORMULARIO
form {
	ul {
		padding: 0;
		}
	li {
		list-style: none;
		}
}

label, input, textarea {
	display: block;
}
label, input:not(.btn), textarea {
	width: 100%;
}
label {
	text-transform: uppercase;
	line-height: 1.75rem;
	color: $color-w;
	margin-top: 1.75rem;
}
input, textarea {
	background-color: #fff;
	border: none;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: $color-w;
	padding: 0 1rem;
}
input {
	line-height: 1.75rem;

	&:not(.btn) {
		height: 3.5rem;
		}
}
textarea {
	line-height: 1.4rem;
	padding: 0.5rem 1rem;
	height: 12.25rem;
}
input::placeholder, textarea::placeholder {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: $color-w;
	line-height: 1.75rem;
	padding: 0rem;
}
.hide {
	display: none;
}