/* ---- grid ---- */

.grid {
  width: 100%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid_sizer,
.grid_item {
  width: 45%;
  margin: 0 2.5% 1.75rem;
}

.grid_item {
  float: left;
  background-color: $color-w;
}

.grid_item>a>img {
  display: block;
  margin-bottom: 0.5rem;
}