// HEADER
.header {
	overflow: hidden;
	padding: 1rem auto;
	background-color: $color-one;
	height: 60px;
	@media all and (min-width: $desktop) {
		height: 79px;
	}
}
.logo {
	height: 25px;
	float: left;
	@media all and (min-width: $desktop) {
		height: 40px;
	}
}

.logo-obsocial {
	height: 100%;
	width: 100%;
}