//pag inicio
.in--map {
	width: 100%;
	height: 36rem;
}
.in_section {
	margin: 0;
	padding: 0;
	&:after {
		content: "";
		clear: both;
		display: block;
		margin: 0;
		padding: 0;
		line-height: 0;
	}
	&--img {
		width: 100%;
		margin: 0;
		padding: 0;
		line-height: 0;
		display: block;
		&--container {
			margin: 0;
			padding: 0;
			display: block;
			width: 100%;
			position: relative;
			@media all and (min-width: 1024px) {
				width: 60%;
				display: inline-block;
			}
		}
	}
	&--text {
		display: block;
		margin: 0;
		padding: 3rem;
		@media all and (min-width: 1024px) {
			padding: 0 1.5rem;
			width: 40%;
			display: inline-block;
			position: relative;
	  		top: 50%;
	  		transform: translateY(15%);
		}
		@media all and (min-width: 1280px) {
			padding: 4rem 2rem 0;
			transform: translateY(30%);
		}
	}
}
.in_img--triangle {
	&--one:before,
	&--two:before {
		content: "";
		position: absolute;
		top: 0;
		width: 0; 
		height: 0;
		border-left: 1.35rem solid transparent; 
		border-right: 1.35rem solid transparent;
		@media all and (min-width: 1024px) {
			top: 3rem;
			border-top: 1.35rem solid transparent;
			border-bottom: 1.35rem solid transparent;
		}
	}

	&--one:before {
		right: 3rem;
		border-top: 1.35rem solid $color-one;
		@media all and (min-width: 1024px) {
			right: 0;
			border-right: 1.35rem solid $color-one;
			border-top: 1.35rem solid transparent;
			border-left: 0 solid transparent; 
		}
	}
	&--two:before {
		left: 3rem;
		border-top: 1.35rem solid $color-two;
		@media all and (min-width: 1024px) {
			left:0;
			border-left: 1.35rem solid $color-two;
			border-top: 1.35rem solid transparent;
			border-right: 0 solid transparent; 
		}
	}
}

.in_col--logo {
	display: block;
	margin: 1.75rem auto;
	height: 6rem;
	@media all and (min-width: 1024px) {
		&--center {
			margin: 0 auto;
		}
		&--left {
			display: inline-block;
			float: left;
			margin: 0 10%;
		}
		&--right {
			display: inline-block;
			float: right;
			margin: 0 10%;
		}	
	}
}