// INFOGRAFIA
.infografia {
	color: #2B3E50;
	background-color: #E1E1E1;
}
.infografia .info-row:nth-child(6n+2) {
	color: #fff;
	background-color: #2B3E50;
}
.infografia .info-row:nth-child(6n+4) {
	color: #fff;
	background-color: #F85C45;
}
.infografia .info-row:nth-child(6n+6) {
	color: #fff;
	background-color: #2EB197;
}
.infografia-txt{
	padding: auto 5%;
	width: 60%;
}
.infografia-img{
	padding: auto 5%;
	text-align: center;
	width: 30%;
}
.info-img {
	width: 100%;
	max-width: 14rem;
}
.container-flex {
	display: flex;
	flex-direction: row;
}
.col-uno {
	order:-1;
}
@media all and (max-width: 768px) {
	
	.infografia-txt{
	padding: auto 5%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	}
	.infografia-img {
		margin-left: auto;
		margin-right: auto;
	}
	.container-flex {
		display: block;
	}
}