//pag inicio
.inline-b {
	display: inline-block;
}
.i-team {
	padding: 3.5rem 0 0;
	display: flex;
	flex-direction: column;
	@media all and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
	}
	@media all and (min-width: 1024px) {
		flex-direction: row;
		justify-content: space-between;
		width: 80%;
		margin: 0 auto;
	}	
}
.i_section {
	margin: 0;
	padding: 0;
}
.i_section:after {
	content: "";
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 0;
}
.i_section--img {
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 0;
	display: block;
}
.i_section--img--container {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	@media all and (min-width: 1024px) {
		width: 60%;
		display: inline-block;
	}
}
.i_section--text {
	display: block;
	margin: 0;
	padding: 3rem;

	@media all and (min-width: 1024px) {
		padding: 0 1.5rem;
		width: 40%;
		display: inline-block;
	}
	@media all and (min-width: 1280px) {
		padding: 4rem 2rem 0;
	}
}
@media all and (min-width: 1024px) {
	.left {
		float: left;
	}
	.right {
		float: right;
	}	
}