//pag inicio
.inline-b {
	display: inline-block;
}
.i-team {
	padding: 3.5rem 0 0;
	display: flex;
	flex-direction: column;
	@media all and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
	}
	@media all and (min-width: 1024px) {
		flex-direction: row;
		justify-content: space-between;
		width: 80%;
		margin: 0 auto;
	}	
}
.i_section {
	margin: 0;
	padding: 0;
}
.i_section:after {
	content: "";
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 0;
}
.i_section--img {
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 0;
	display: block;
}
.i_section--img--container {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	position: relative;
	@media all and (min-width: 1024px) {
		width: 60%;
		display: inline-block;
	}
}
.i_section--text {
	display: block;
	margin: 0;
	padding: 3rem;

	@media all and (min-width: 1024px) {
		padding: 0 1.5rem;
		width: 40%;
		display: inline-block;
	}
	@media all and (min-width: 1280px) {
		padding: 4rem 2rem 0;
	}
}
@media all and (min-width: 1024px) {
	.left {
		float: left;
	}
	.right {
		float: right;
	}	
}
.i_img--triangle--one:before {
	content: "";
	position: absolute;
	top: 0;
	right: 3rem;
	width: 0; 
	height: 0;
	border-top: 1.35rem solid $color-one;
	border-left: 1.35rem solid transparent; 
	border-right: 1.35rem solid transparent;
	@media all and (min-width: 1024px) {
		top: 3rem;
		right: 0;
		border-right: 1.35rem solid $color-one;
		border-top: 1.35rem solid transparent;
		border-bottom: 1.35rem solid transparent;
		border-left: 0 solid transparent; 
	}
}
.i_img--triangle--two:before {
	content: "";
	position: absolute;
	top: 0;
	left: 3rem;
	width: 0; 
	height: 0;
	border-top: 1.35rem solid $color-two;
	border-left: 1.35rem solid transparent; 
	border-right: 1.35rem solid transparent;
	@media all and (min-width: 1024px) {
		top: 3rem;
		left:0;
		border-left: 1.35rem solid $color-two;
		border-top: 1.35rem solid transparent;
		border-bottom: 1.35rem solid transparent;
		border-right: 0 solid transparent; 
	}
}