// PORTADAS
.portada-index {
	background: url(../img/index-img.jpg);
	background-size: cover;

	display: flex;
  	align-items: center;
  	padding: 0;
  	@media all and (min-width: 768px) {
		height: 100vh;
	}
}

.portada-donar {
	background: url(../img/donacion-img.jpg);
	background-size: cover;
}
.portada-eventos {
	background: url(../img/eventos-img.jpg);
	background-size: cover;
}
.portada-blog {
	background: url(../img/blog-img.jpg);
	background-size: cover;
}
.portada-contacto {
	background: url(../img/contacto-img.jpg);
	background-size: cover;
}
.portada-proyecto {
	background: url(../img/nosotros-img.jpg);
	background-size: cover;
}
