// NOSOTROS
.pro_avatar {
	background-color: #F0F0F0;
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
	margin: 1.75rem auto -1.75rem;

	@media all and (min-width: $tablet) {
		height: 7rem;
		width: 7rem;
		margin: 0 auto;
		display: inline-block;
		position: relative;
  		top: 50%;
  		transform: translateY(50%);
		}
}
.pro_img {
	height: 6.25rem;
}
.pro_proceso {
	margin-bottom: 3rem;
	@media all and (min-width: $tablet) {
		margin-bottom: 6rem;
		}
}
.pro_box {
	text-align: center;
}
.pro_member {
	display: block;
	vertical-align: top;
	margin: 1.75rem 0;
	@media all and (min-width: $tablet) {
		display: inline-block;
		width: 40%;
		clear: left;
		margin: 1.75rem 3rem;
		text-align: left;
		}
}
