.ev_selector {
	width: 100%;
	display: block;
	& select {
		margin-bottom: 1.25rem;
	}
	&--left {
		& label, & select{
		margin-left: 10px;		
		}
	}
	&--right {
		& label, & select {
		margin-right: 10px;		
		}
	}

	@media all and (min-width: $tablet) {
		width: 50%;
		display: inline-block;
		& select {
			margin-bottom: 6rem;
		}
		& label, & select {
			width: 90%;
			max-width: 28rem;
			display: block;
		}
		&--left {
			& label, & select{
				float: left;
			}
		}
		&--right {
			& label, & select {
				float: right;
			}
		}
	}
}

.blog_selector {
	width: 100%;
	display: block;
	& label, & select {
		margin: 0 2.5% 0.75rem 0;
	}
	& select {
		margin-bottom: 3rem;
		width: 100%;
		@media all and (min-width: $tablet) {
			width: 45%;
		}
	}
	
}