body {
	font-family: 'Open Sans', sans-serif;
	color: #2B3E50;
	font-weight: 400;
	font-size: 1;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}
section {
	padding-top: 2rem;
	padding-bottom: 2rem;
	@media all and (min-width: 1024px) {
		padding-top: 5rem;
		padding-bottom: 5rem;
		}
}
section:after {
	content: "";
	clear: both;
}