//COLORES
$color-w: #fff; //blanco
$color-one: #2EB197; //verde obsocial
$color-two: #2B3E50; //Azul oscuro
$color-three: #F85C45; //naranja
$color-four: #E1E1E1; //color gris backgrounds
.color-one {
	background-color: #2EB197;
}
.color-three {
	background-color: #E1E1E1;
	overflow: auto;
}