// LAYOUT
.container,
.container-narrow{
	margin: 1rem auto;
	width: 90%;
}
.container-narrow{
	max-width: 600px;
}
@media all and (min-width: 1180px) {
	.container{
		max-width: 1180px;
		width: 100%;
	}
	.container-narrow{
		width: 100%;
	}
}
.left{
	float: left;
}
.right{
	float: right;
}